
/*===============================================
  C. Gallery Page
================================================= */
body.gallery-page #mix-container {
  padding: 15px;
  text-align: justify;
  font-size: 0.1px;
}
body.gallery-page #mix-container:after {
  content: "";
  display: inline-block;
  width: 100%;
}
body.gallery-page #mix-container .mix,
body.gallery-page #mix-container .gap {
  display: none;
  vertical-align: top;
  width: 23.5%;
  margin-bottom: 20px;
}
body.gallery-page #mix-container .gap {
  display: inline-block;
}
body.gallery-page #mix-container .mix .panel {
  margin: 0;
}
body.gallery-page #mix-container .mix .panel img {
  cursor: pointer;
}
body.gallery-page .fail-message {
  display: none;
  text-align: center;
  font-size: 22px;
  color: #999;
  margin-top: 50px;
}
body.gallery-page .fail .fail-message {
  display: block;
}
@media (max-width: 1350px) {
  body.gallery-page #mix-container .mix,
  body.gallery-page #mix-container .gap {
    width: 31.5%;
  }
}
@media (max-width: 750px) {
  body.gallery-page #mix-container .mix,
  body.gallery-page #mix-container .gap {
    width: 48%;
  }
}
